@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
    background-color: white;
}

h1 {
    font-family: "Open Sans";
    font-weight: lighter;
    line-height: 26.4px;
    text-align: center;
    font-size: 10vw;
}

table {
    width: 100%;
    font-family: "Open Sans";
    font-weight: 300;
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
}

th {
    height: 3.9vw;
    font-size: 1.6vw;
    font-weight: bold;
    width: 20%;
}

td {
    height: 2.9vw;
    width: 20%;
    font-size: 1.3vw;
}

tr:hover {
    background-color: #f5f5f5;
}

button {
    font-size: 2.3vw;
}
